html,
body,
#root {
  height: 100%;
}
#root{
  background: #eee;
}
#root .container {
    min-height: 100%;
    margin-top:42px;
    margin-bottom:108px;
    padding-bottom:20px;
  }
.container, .header-container{
  width: 1240px;
  margin: auto;
}

body {
  margin: 0;
}
ul li {
  list-style: none;
}
a{
  color: #fff;
}
a:hover{
  color:#dd1313;
}
.ant-layout{
  background: #eee;
}